.color1 {color: #003528;}
.transparent {color: #0000003d;}
.transparent-oscuro {color: #0000005f;}
.naranjita {color: #edb526;}
.color5 {color: #ffffba;}

.color1 {color: #000000;}
.gris_oscurongo {color: #282d38;}
.color3 {color: #3f569a;}
.color4 {color: #788cf6;}
.color5 {color: #bdc8ff;}